{{ define "main" }}

<main id="grid" class="row list flex-wrap h-100 text-center">
  {{ range .Pages }}
    <div class="list-item d-flex lead justify-content-center align-items-center {{ .Type }}">
      <div>
        <a class="text-decoration-none" href="{{ .Permalink }}">
          <h4 class="font-weight-bold">{{ .Title }}</h4>
          <p>{{ .Params.description }}</p>
        </a>
        {{ if .Site.Params.showTags | default .Site.Data.default.showTags }}
          {{ range .Params.tags }}
            <a class="text-body text-decoration-none border-bottom border-dark" href="/tags/{{ . }}">{{ . }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  {{ end }}
</main>

{{ end }}
